@using BusinessLogicLayer.Abstraction.Services.VotingCommands.Dtos
@model ICollection<BusinessLogicLayer.Abstraction.Services.VotingCommands.Dtos.VotingDto>



@foreach (VotingDto voting in Model)
{
    <div class="card">
        <div class="card-body">
            <div class="row">
                <a asp-action="Get" asp-route-id="@voting.Id">@voting.Name</a>
                <div class="col-sm">
                    <p>@voting.StartDate</p>
                    <p>@voting.EndDate</p>

                </div>
                <div class="col-sm">
                    <button type="button" class="btn btn-outline-danger">Delete</button>
                </div>

            </div>
        </div>
    </div>
}
  