@using BusinessLogicLayer.Abstraction.Services.VotingCommands.Dtos
@using DataAccessLayer.Models.Votes
@model GetVotingDto;


<div class="col-sm-7 mt-2">
    
    @foreach (VotingOptionDto option in Model.VotingOptions)
    {
        <a asp-action="MakeVote" asp-route-votingOptionId="@option.Id" class="btn btn-outline-secondary">@(option.Name)</a>

    }
</div>
