@model BusinessLogicLayer.Abstraction.Services.VotingCommands.Dtos.CreateVotingDto;

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>New voting</h1>
<form asp-action="Add" method="post" data-toggle="validator" role="form">
    <partial name="_Voting"/>
</form>
<a asp-action="Index" class="btn btn-light">Back</a>
