@model BusinessLogicLayer.Abstraction.Services.VotingCommands.Dtos.CreateVotingDto;

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>New voting</h1>
<form asp-action="Add" method="post">
    <partial name="_Voting"/>
   
</form>