@model BusinessLogicLayer.Abstraction.Services.VotingCommands.Dtos.GetAllVotingDto;
@{
    ViewData["Title"] = "Voting Page";
}
<div class="row">

    <div class="col-sm">
        <h1>List voting</h1>
    </div>
    <div class="col-sm">
        <a asp-controller="Voting" asp-action="Add" class="btn btn-success">+ New voting</a>
    </div>
</div>
<div class="row">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" id="button-addon1">Search</button>
        </div>
        <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
    </div>
</div>

<div>
    <h7>Upcoming voting</h7>
    <partial name="_AllVoting" model="@Model.UpcomingVoting"/>
</div>
<div>
    <h7>Active voting</h7>
    <partial name="_AllVoting" model="@Model.ActiveVoting"/>
</div>
<div>
    <h7>Closed voting</h7>
    <partial name="_AllVoting" model="@Model.ClosedVoting"/>
</div>