@using DataAccessLayer.Models.Votes.Enums
@model BusinessLogicLayer.Abstraction.Services.VotingCommands.Dtos.InviteUserDto;

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Invite user</h1>

<form>
    
    <div class="form-group">
        <label for="formGroupExampleInput">Example label</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
    </div>
    
    <br>
    <br>
    <br>
    <a asp-action="Invite" class="btn btn-success">Invite</a>

</form>
