@model BusinessLogicLayer.Abstraction.Services.VotingCommands.Dtos.InviteUserDto;

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Invite user</h1>

<form asp-action="Invite" method="post">

    <div class="form-group">
        <label asp-for="SerchUser">User Email</label>
        <input asp-for="SerchUser" class="form-control" placeholder="Email"/>
        <span asp-validation-for="SerchUser" class="text-danger"></span>

    </div>
    <input type="hidden" asp-for="VotingId"/>
    <br>

    <input type="submit" value="Invite" class="btn btn-success"/>
</form>
<a asp-action="Get" asp-route-id="@Model.VotingId" class="btn btn-light">Back</a>

