@model BusinessLogicLayer.Abstraction.Services.VotingCommands.Dtos.InviteUserDto;

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Invite user</h1>

<form asp-action="Invite" method="post">

    <div class="form-group">
        <label asp-for="Email">User Email</label>
        <input asp-for="Email" class="form-control" placeholder="Email"/>
        <span asp-validation-for="Email" class="text-danger"></span>

    </div>
    <input type="hidden" asp-for="VotingId"/>
    <br>

    <input type="submit" value="Invite" class="btn btn-success"/>

</form>
