@model BusinessLogicLayer.Abstraction.Services.VotingCommands.Dtos.UpdateVotingDto;

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Edit voting</h1>
<form method="post">
    <partial name="_Voting" />
    <input type="hidden" asp-for="Id"/>
</form>