@model BusinessLogicLayer.Abstraction.Services.VotingCommands.Dtos.UpdateVotingDto;

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Edit voting</h1>
<form asp-action="Update" method="post" asp-route-id="@Model.Id">
    <partial name="_Voting" />
    @* <input type="hidden" asp-for="Id"/> *@
</form>