@model BusinessLogicLayer.Abstraction.Services.VotingCommands.Dtos.UpdateVotingDto;

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Edit voting</h1>
<form>
    <partial name="_Voting" />
    
    <button type="button" class="btn btn-success">Save</button>
</form>